<div class="row">
	<div class="password-form">
		<%= form_tag match_sessions_path do %>
			<div class="field">
				<%= label_tag :password %>
				<%= password_field_tag :password %>
			</div>
			
			<% if params[:player] %>
				<%= hidden_field_tag 'player', params[:player][:username] %>
			<% end %>
			
			<div class="action">
				<%= submit_tag "Log in", :class => "btn btn-primary" %>
			</div>
		<% end %>
	</div>
</div>