<div class="new-hole-page">
	<p><div class="row new-hole-title">
		<div class="">
			<h1>New Hole</h1>
			<h3>Add a new bar to this course</h3>
		</div>
	</div></p>

	<p>
		<% if @hole.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@hole.errors.count, "error") %> prohibited this hole from being saved:</h2>

	      <ul>
	      <% @hole.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
	</p>

	<div class="span3 offset4">
		<div class="row"></div>
		<%= form_for [@match, @hole] do |f| %>
	
			<div class="field">
				<%= f.label :name, 'Bar Name' %>
				<%= f.text_field :name %>
			</div>
			
			<div class="field">
				<%= f.label :hole_number, 'Hole Number' %>
				<%= f.select(:hole_number, options_for_select( (1...10).to_a )) %>
			</div>
			
			<div class="field">
				<%= f.label :drink, 'Name of Drink' %>
				<%= f.text_field :drink %>
			</div>
			
			<div class="field">
				<%= f.label :par, 'Par' %>
				<%= f.select(:par, options_for_select( (1...9).to_a )) %>
			</div>
	
			<div class="action">
				<%= f.submit 'Add Hole', :class => 'btn btn-primary' %>
			</div>
	
		<% end %>
	</div>
</div>