<h1 class="main-title">Par Crawl</h1>

<p>
	<div class="row">
		<div class="span8 offset2">
			<% if @match.errors.any? %>
		    <div id="error_explanation">
		      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

		      <ul>
		      <% @match.errors.full_messages.each do |msg| %>
		        <li><%= msg %></li>
		      <% end %>
		      </ul>
		    </div>
		  <% end %>
		</div>
	</div>
</p>

<p><div class="row">
	<div class="new-match">
		<%= form_for @match do |f| %>
	
			<div class="field">
				<%= f.label :name, "Match Name" %>
				<%= f.text_field :name %>
			</div>
	
			<div class="action">
				<%= f.submit 'Tee Off', :class => "btn btn-primary" %>
			</div>
	
		<% end %>
	</div>
</div></p>

<p>
	<div class="row">
		<h2 class="current-matches">Recent Matches</h2>
		<hr class="span8 offset2" />
	</div>
	<% @matches.each do |m| %>
		<div class="row">
			<h3 class="current-matches"><%= link_to m.name, match_path(m) %> (<%= m.players.count %> players)</h2>
		</div>
	<% end %>
</p>