<div class="row match-head hidden-phone">
		<h1><%= @match.name %></h1>
		<p><%= @taglines.sample %></p>
</div>

<div class="row match-head visible-phone">
		<h1><%= @match.name %></h1>
		<p><%= @taglines.sample %></p>
</div>

<hr />
<div class="row match-content">
	<div class="span6 offset1">
		<div class="row">
			<div class="score-title">
				<h2>Leaderboard</h2>
			</div>
		</div>
		
		<% if @players.empty? %>
			<div class="row">
				<div class="match-directions well span2">1. Add some players</div>
			</div>
		<% end %>
		
		<button class="btn btn-mini new-player" type="submit">New Player</button>
		
		<div class="row new-player-form">
				<%= render "players/form" %>
		</div>
		<br /><br />
		
		<% if @players %>
			<% @players.each_with_index do |p, i| %>
				<div class="row">
					<div class="span3">
						<h3><%= "#{i+1}. " %><%= link_to p.username, match_player_path(@match, p) %></h3>
					</div>
					<div class="span2 offset1">
						<h4>
							Strokes: 
							<score class="<%= p.over_or_under_par?(@match) %>">
								<%= p.match_score_relative_to_par %>
							</score>
							<span class="pull-right">(<%= p.match_score %>)</span>
						</h4>
					</div>
				</div>
				<div class="row hidden-phone player-facts" >
					<div class="span4">
						<strong>Last hole played</strong>: <%= p.last_hole_played %><br />
						<strong>Most recent penalty</strong>: <%= p.most_recent_penalty %>
					</div>
				</div>
			<% end %>
		<% end %>
		<hr class="leader-line"/>
	</div>
	
	<div class="span4 offset1">
		<div class="row">
			<div class="row">
				<div class="holes-title">
					<h2>Course Holes</h2>
				</div>
			</div>
			
			<% if @match.holes.empty? %>
				<div class="row">
					<div class="match-directions well span3">2. Add some bars to serve as hole locations</div>
				</div>
			<% elsif !@match.has_any_scores? %>
				<div class="row">
					<div class="match-directions well span3">3. Mark your scores as you play</div>
				</div>
			<% end %>
			
			<button class="btn btn-mini new-hole" type="submit">New Hole</button>
			<div class="row new-hole-form">
					<%= render "holes/form" %>
			</div>
			<br /><br />
			
			<% @match.holes.order("hole_number ASC").each do |h| %>
				<div class="row">
					<div class="span4">
						<h3 class="score"><%= h.hole_number %>. <%= h.name %> </h3><span class="score new-score">Mark a Score ></span>
						<div class="row new-score-form">
							<%= render "scores/form", :hole => h %>
						</div>
					</div>		
				</div>
				<div class="row">
					<div class="span2">
						<h4>Par <%= h.par %>: <%= h.drink %></h4>
					</div>
					<div class="span2">
						Last played by: <%= h.last_played_by %>
					</div>
				</div>
				
			<% end %>
		</div>
		<div class="row"><hr /></div>
		<div class="row">
			<div class="row">
				<div class="holes-title">
					<h2>Penalties</h2>
				</div>
			</div>
			
			<% if !@match.has_any_scores? && @match.holes.any? %>
				<div class="row">
					<div class="match-directions well span3">3. Add penalties to shame your friends</div>
				</div>
			<% end %>
			
			<button class="btn btn-mini new-penalty" type="submit">New Penalty</button>
			<div class="row new-penalty-form">
					<%= render "penalties/form" %>
			</div>
			<br /><br />
			
			
			<% if @match.penalties %>
				<% @match.penalties.each do |p| %>
					<div class="row">
						<h3 class="span4"><%= "-#{p.strokes} Strokes for #{p.player.username}" %></h3>
						<div class="span4">
							<%= p.offense %>
						</div>
					</div>
				<% end %>
			<% end %>
			<hr />
		</div>
	</div>
</div>