<div class="row">
	<div class="span8 offset2 hero-unit match-hero">
		<h1><%= @match.name %></h1>
		<p><%= @taglines.sample %></p>
	</div>
</div>

<p><div class="span8 offset2">
	<div class="row">
		<div class="holes-title">
			<h2>Course Holes</h2>
			<hr />
		</div>
	</div>
	
	<% @match.holes.order("hole_number ASC").each do |h| %>
		<div class="row">
			<div class="span4">
				<h2><%= h.hole_number %>. <%= link_to h.name, [@match, h] %></h2>
			</div>
			<div class="span2 offset2">
				<h3>Par <%= h.par %>: <%= h.drink %></h3>
			</div>
		</div>
	<% end %>
	<br />
	<%= link_to 'Add a hole', new_match_hole_path(@match) %>
</div></p>

<p><div class="span8 offset2">
	<div class="row">
		<div class="score-title">
			<h2>Leaderboard</h2>
			<hr />
		</div>
	</div>
	
	<% @players.each_with_index do |p, i| %>
		<div class="row">
			<div class="span4">
				<h2><%= "#{i+1}. #{p.username}" %></h2>
			</div>
			<div class="span2 offset2">
				<h3>
					Strokes: 
					<% score = p.total_match_score - @match.total_match_score %>
					<% if score < 0 %>
						<score class="under-par">
							<%= score %>
						</score>
					<% elsif score > 0 %>
						<score class="over-par">
							<%= score %>
						</score>
					<% else %>
						<%= score %>
					<% end %>
					
					</h3>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="well span3 offset2 new-player-form">
			<%= render "players/form" %>
		</div>
	</div>
</div></p>